
/sztuczna/detekcja/kuchnia-1/valid/labels
/sztuczna/detekcja/kuchnia-1/valid/images
/sztuczna/detekcja/kuchnia-1/train/labels
/sztuczna/detekcja/kuchnia-1/train/images
/sztuczna/detekcja/kuchnia-1/test/labels
/sztuczna/detekcja/kuchnia-1/test/images
/runs
